[submodule "HL2SDK"]
	path = external/hl2sdk
	url = https://github.com/Wend4r/hl2sdk.git
[submodule "Metamod-Source"]
	path = external/metamod-source
	url = https://github.com/alliedmodders/metamod-source.git
