[submodule "SourceSDK"]
	path = external/sourcesdk
	url = https://github.com/Wend4r/sourcesdk.git
[submodule "Metamod-Source"]
	path = external/metamod-source
	url = https://github.com/alliedmodders/metamod-source.git
